<html>
<head><title>Leyendo conversacion</title>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-responsive.css" />
</head>
<body>
<div class="navbar">
 <div class="navbar-inner">
<label class="brand">Sistema asistente de conversaciones</label>
 <ul class="nav">
<li class="active"><a>Leyendo conversacion</a></li>
<li class=""><a href="../../">Inicio</a></li>
</ul>
</div>
</div>
<%
conversacion.each do |con|
if con['finalizado_'] == '1'
%>
<hr />
<p>Conversacion completada - <%=con['fechamodificacion']%></p>
<%
else
%>
<hr />
<p>Conversacion modificada - <%=con['fechamodificacion']%></p>
<%
end
respuestas.each do |res|
if res['conversacionhistorialid'] == con['id']
%>
<p><label style="color:#000000"><%=res['mensaje']%></label></p>
<p><label title="<%=res['texto']%>" style="color:#FF0000"><%=res['rh_texto']%></label></p>

<%
end
end
end
%>
</body>
</html>
