<input type="hidden" value="<%=mensaje%>" name="mensaje"/>
<input type="hidden" value="<%=mensajeid%>" name="mensajeid"/>
<input type="hidden" value="<%=tipo%>" name="tipo"/>
<input type="hidden" value="<%=conversacionhistorial%>" name="conversacionhistorial"/>
<%
if respuestas != ""
%>
<div class="input-append">
<%
	respuestas.each do |respuesta| 
		if tipo == "MS"
	%>
	<input type="checkbox" value="<%=respuesta['id']%>" name="checkbox[]" onchange="activarContinuar()"/><label id="<%=respuesta['id']%>" for="<%=respuesta['id']%>"><%=respuesta['texto']%></label>
	<%
		else
	%>
	<button type="button" value="<%=respuesta['id']%>" onclick="seleccionarRespuesta(this)" class="btn btn-primary"><%=respuesta['texto']%></button>
	<%
		end
	end
else
%>
<div>
<p class="text-success">Conversacion terminada.</p>
<%
end
%>
