<html>
<head>
<style type="text/css">
#receptor{
	color: #0000FF;
}
</style>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css" />
<title>Respondiendo conversacion</title>
<script type="text/javascript">
var respuestaseleccionada = "";
function seleccionarRespuesta(e){
	for(var i = 0; i < document.getElementsByTagName("button").length; i++){
		document.getElementsByTagName("button")[i].disabled = false;
	}
	respuestaseleccionada = e.value;
	e.disabled = true;
	document.getElementsByTagName("textarea")[0].disabled = false;
	document.getElementsByTagName("textarea")[0].focus();
	document.getElementById("Continuar").disabled = false;
}
xmlhttp=new XMLHttpRequest();
function responder(){
	var texto=document.getElementsByTagName("textarea")[0];
	xmlhttp.open("POST","/responder",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	var tipo = document.getElementsByName("tipo")[0];
	var conversacion=document.getElementById("conversacion");	
	if(tipo.value != "MS"){
		xmlhttp.send("texto="+texto.value+"&respuesta="+respuestaseleccionada+"&mensajeid="+document.getElementsByName("mensajeid")[0].value+"&tipo="+tipo.value);
		conversacion.innerHTML+="<p><label id='receptor'>"+texto.value+"</label></p>";
		document.getElementsByTagName("textarea")[0].disabled = true;
		document.getElementsByTagName("textarea")[0].value = "";
		document.getElementById("Continuar").disabled = true;
	}else{
		var cajas = document.getElementsByName("checkbox[]");
		var cadena = "";
		var cadena2 = "<p><label id='receptor'>";
		for(var i=0; i<cajas.length; i++){
			if(cajas[i].checked){
			cadena += "respuesta[]="+cajas[i].value+"&texto[]="+document.getElementById(cajas[i].value).innerHTML+"&";
			cadena2+=document.getElementById(cajas[i].value).innerHTML+" ";
			}
		}
		xmlhttp.send(cadena+"mensajeid="+document.getElementsByName("mensajeid")[0].value+"&tipo="+tipo.value);
		conversacion.innerHTML+=cadena2+"</label></p>";
		
	}
	
	return false;
}

xmlhttp.onreadystatechange=function(){
	if(xmlhttp.readyState==4 && xmlhttp.status==200){
		document.getElementById("contenidoactualizado").innerHTML = xmlhttp.responseText;
		var conversacion=document.getElementById("conversacion");
		conversacion.innerHTML+="<br/><label id='emisor'>"+document.getElementsByName("mensaje")[0].value+"</label>";
	
	}else if(xmlhttp.readyState==4 && xmlhttp.status!=200){
		alert("Intente de nuevo que ha ocurrido un error "+xmlhttp.status);
	}
}

</script>
</head>
<body>
<div class="navbar">
 <div class="navbar-inner">
<label class="brand">Sistema automatizador de conversaciones</label>
 <ul class="nav">
<li class="active"><a>Respondiendo Conversación</a></li>
</div>
</div>
<div id="conversacion" style="background-color: #ECECEC; width: 30%; height: 60%">

<p><label id='emisor'><%=mensaje%></label></p>

</div>
<form name="respuestas" method="post" action="/responder" onsubmit="return responder()">
<label id="contenidoactualizado">
<input type="hidden" value="<%=mensajeid%>" name="mensajeid"/>
<input type="hidden" value="<%=tipo%>" name="tipo"/>
<%
if respuestas != ""
%>
<div class="input-append">
<%
	respuestas.each do |respuesta| 
		if tipo == "MS"
	%>
<input type="checkbox" value="<%=respuesta['id']%>" name="checkbox[]"/><label id="<%=respuesta['id']%>" for="<%=respuesta['id']%>"><%=respuesta['texto']%></label>
<%
		else
%>
<button type="button" value="<%=respuesta['id']%>" onclick="seleccionarRespuesta(this)" class="btn btn-primary"><%=respuesta['texto']%></button>
<%
		end
	end
else
%>
<div>
<p class="text-success">Conversacion terminada.</p>
<%
end
%>
</div>
</label>
<br />
<textarea name="texto" disabled="true"></textarea>
<input type="submit" value="Continuar" class="btn btn-mini" id="Continuar" disabled="true"/>
</form>
</body>
</html>
